// Base colors

// GREEN

$m-green = rgb(67, 150, 104)

$l-green = lighten($m-green, 25%)
$xl-green = lighten($m-green, 50%)
$d-green = darken($m-green, 25%)
$xd-green = darken($m-green, 50%)

$m-white-green = lighten($m-green, 80%)

// BLUE

$m-blue = rgb(0, 148, 255)

$l-blue = lighten($m-blue, 25%)
$xl-blue = lighten($m-blue, 50%)
$d-blue = darken($m-blue, 25%)
$xd-blue = darken($m-blue, 50%)

$m-white-blue = lighten($m-green, 80%)

// PURPLE

$m-purple = rgb(194, 77, 218)

$l-purple = lighten($m-purple, 25%)
$xl-purple = lighten($m-purple, 50%)
$d-purple = darken($m-purple, 25%)
$xd-purple = darken($m-purple, 50%)

$m-white-purple = lighten($m-green, 80%)

// YELLOW

$m-yellow = rgb(255, 225, 68)

$l-yellow = lighten($m-yellow, 25%)
$xl-yellow = lighten($m-yellow, 50%)
$d-yellow = darken($m-yellow, 25%)
$xd-yellow = darken($m-yellow, 75%)

$m-white-yellow = lighten($m-yellow, 80%)

// RED

$m-red = rgb(232, 71, 55)

$l-red = lighten($m-red, 25%)
$xl-red = lighten($m-red, 50%)
$d-red = darken($m-red, 25%)
$xd-red = darken($m-red, 50%)

$m-white-red = lighten($m-red, 80%)

// FALABELLA

$m-falabella = rgb(62, 213, 54)

$l-falabella = lighten($m-falabella, 25%)
$xl-falabella = lighten($m-falabella, 50%)
$d-falabella = darken($m-falabella, 25%)
$xd-falabella = darken($m-falabella, 50%)

$m-white-falabella = lighten($m-falabella, 80%)

// HOGARIS - 1

$hog-red = #d33100
$hog-llgray = #d1d1d0;
$hog-lgray = #cbcbcb;
$hog-gray = #8fa3a3;
$hog-orange = #e46d35;
$hog-yellow = #c79100;
$hog-olive = #8d9237
