@import '_reset.styl'
@import '_variables.styl'

// IMPORTED FONTS

@font-face
  font-family GothamR
  font-style normal
  src url(src/fonts/GothamRounded-Book.otf)
@font-face
  font-family GothamRL
  font-style normal
  src url(src/fonts/GothamRounded-Light.otf)
  
// *
//   outline solid cyan 1px

html
  body
    background-color: lighten($hog-llgray, 70%)
    height: 100vh
    #main-wrapper
      #main-col
        background-color: white
        padding 0
        #header
          padding 0px 15px
          .row
            #top-header
              height 10vw
              background-color: white
              min-height: 70px
              @media screen and (max-width: 480px) {
                height 15vh
              }
              img
                height: 6vw
                margin-top: 2vw
                margin-left: 20px
                min-height: 50px
                @media screen and (max-width: 480px) {
                  width 60vw
                  height auto
                  margin-left 10px
                  margin-top 4vw
                }
            #top-flogo
              a
                img
                  width 40px
                  margin-top 2vw
                  margin-right 2vw
                  float right
                  @media screen and (max-width: 480px) {
                    margin-top 6vw
                    margin-right -20px
                    width 40px
                  }
                  &:hover
                    opacity 0.5
            #resp-menu
                display none
                margin-top 3vw
                font-size 28px
                color $hog-red
                cursor pointer
                &:hover
                  opacity 0.8
                @media screen and (max-width: 480px) {
                  display block
                }
                @media screen and (max-width: 480px) {
                  margin-top: 8vw
                }
            .active
              display block !important
            #nav-bar
              padding: 0
              position: relative;
              z-index: 100
              @media screen and (max-width: 768px) {
                display: none
              }
              nav
                margin: 0px
                border-radius: 0
                background-color: $hog-lgray
                border: none
                ul
                  height: 10vh
                  width: 100%
                  @media screen and (max-width: 480px) {
                    height auto
                  }
                  li
                    display: inline-block;
                    width: 25%
                    height: 10vh
                    transition: background-color 0.2s ease-in-out
                    &:hover
                      background-color: darken($hog-lgray, 30%)
                    @media screen and (max-width: 480px) {
                      width 100%
                    }
                    a
                      @media screen and (max-width: 480px) {
                        font-size 2em
                        line-height 1em
                      }
                  .menu-item-header
                    position: relative;
                  .menu-item-header:hover .dropdown-menu
                      display: block
                    .dropdown-menu
                      display none
                      position: absolute;
                      background-color: $hog-llgray
                      border-radius: 0px
                      min-width: 25%
                      width: 100%
                      height: 6vw * 4
                      padding: 0
                      z-index: 5000
                      border: none
                      @media screen and (max-width: 480px) {
                        width 100%
                        height auto
                      }

                      .dropdown-item
                        width: 100%
                        display: inline-block;
                        height: 6vw
                        line-height: 6vw
                        text-align: center;
                        transition: 0.2s ease-in-out all
                        &:hover
                          background-color: darken($hog-lgray, 70%)
                        @media screen and (max-width: 480px) {
                          height auto
                          margin-bottom 30px
                        }
                        a
                          text-decoration: none
                          @media screen and (max-width: 480px) {
                            line-height 1.3em
                            margin 15px 0px
                            font-size 2em
                          }
                    .menu-item-header:hover .dropdown-menu
                        display: block
                      a
                        font-size: 1.4vw
                        color white
                        font-family: GothamR
                        letter-spacing: 2px
                        height: 8vh
                        text-align: center;
                        margin: 1vh 0px
        #main
          #tile-row //Este es el damero de arriba
            #tile-box
              padding: 0
              .tile
                width: 25%
                padding-bottom: 25%
                background-color: white
                float: left
                transition: 0.1s all ease-in-out
                position: relative;
                z-index: 1
                @media screen and (max-width: 480px) {
                  width 50%
                  height 50vw
                  margin 0
                  float left
                }
                &:hover
                  box-shadow: 0px 1px 9px -2px black
                  z-index: 90
                  transform: scale(1.02)
                span
                  position: absolute
                  color: $hog-red
                  text-align: center
                  font-family: GothamR
                  font-size: 2vw
                  margin: 40% 12%
                  @media screen and (max-width: 480px) {
                    font-size 5vw
                  }
                .bold
                  font-family GothamRL

              #r1t1, #r2t1, #r3t1
                width: 25%
                padding-bottom: 25%
                background-color: white
                float: left
                transition: 0.2s all ease-in-out
                position: relative;
                z-index: 1
                @media screen and (max-width: 480px) {
                  width 50%
                  height 50vw
                  margin 0
                  float left
                }
                &:hover
                  box-shadow: 0px 1px 9px -2px black
                  z-index: 90
                  transform: scale(1.02) translateX(3px);
              #r1t4, #r2t4, #r3t4
                width: 25%
                padding-bottom: 25%
                background-color: white
                float: left
                transition: 0.2s all ease-in-out
                position: relative;
                z-index: 1
                @media screen and (max-width: 480px) {
                  width 50%
                  height 50vw
                  margin 0
                  float left
                }
                &:hover
                  box-shadow: 0px 1px 9px -2px black
                  z-index: 90
                  transform: scale(1.02) translateX(-3px);
              #r1t1
                background-color: $hog-gray
                span
                  color white
                  border-top 2px white solid
                  border-bottom 2px white solid
              #r1t2
                background-image: url('src/images/tile_2.png')
                background-size: cover
              #r1t3
                background-color: white
              #r1t4
                background-image: url('src/images/tile_3.png')
                background-size: cover
                span
                  color white

              #r2t1
                background-image: url('src/images/tile_1.png')
                background-size: cover
              #r2t2
                background-color: $hog-orange
                span
                  color white
                  border-top 2px white solid
                  border-bottom 2px white solid
              #r2t3
                background-image: url('src/images/tile_4.png')
                background-size: cover
              #r2t4
                background-color: $hog-yellow
                span
                  color white
                  border-top 2px white solid
                  border-bottom 2px white solid
              #r3t1
                background-color: $hog-llgray
              #r3t2
                background-image: url('src/images/tile_5.png')
                background-size: cover
              #r3t3
                background-color: $hog-olive
                span
                  color white
                  border-top 2px white solid
                  border-bottom 2px white solid
              #r3t4
                background-color: $hog-red
                padding-bottom 0px
                img
                  width 40%
                  margin 30%
          #separator
            background-color: white
            height: 100px
          #historia
            text-align: center
            margin-bottom: 30px
          p
            margin-left 10px
            font-family: GothamR
            padding-right: 5vw
            text-align: left
          #historia #title
            font-family: GothamR
            font-size: 2em
            text-align: center
          #row-productos
            text-align: center;
            margin-top: 150px
            #productos
              div, #title
                font-family: GothamR
              #title
                font-size: 2em
                margin-bottom: 30px
            #product-header
              margin-top 20px
              padding-right: 5vw
            .menu-item
              display: inline-block;
              width: 25%
              font-family: GothamR
              font-size: 1.2em
              transition: transform  0.2s ease-in-out
              cursor: pointer;
              &:hover
                transform: scale(1.2)
              @media screen and (max-width: 480px) {
                font-size 12px
              }
            hr
              border-top: 1px gray solid
            .menu-decoration
              width 25%
              height: 30px
              float: left
              position: relative;
              bottom: 27px
              left: 6vw
              @media screen and (max-width: 480px) {
                left 8vw
              }
              @media screen and (max-width: 768px) {
                left 10vw
              }
              .menu-circle
                width: 15px
                height: 15px
                border-radius: 50%
                background-color: $hog-yellow
                transition: transform 0.2s ease-in-out
              #c-gourmet
                background-color: $hog-gray
              #c-premium
                background-color: $hog-olive
              #c-raviolini
                background-color: $hog-orange
          .detalles-row
            margin-top 30px
            img
              width 100%
              @media screen and (max-width: 768px) {
                width 100%
              }
            .thumb
              width: 8vw
              height: 8vw
              margin: 0 10px
              float: left;
              position: relative;
              left: 70px
              transition: all 0.2s ease-in-out
              @media screen and (max-width: 480px) {
                width 23vw
                height 23vw
                margin 0
              }
              @media screen and (max-width: 790px) {
                width 20vw
                height 20vw
                margin 0
              }
              &:hover
                transform: translateY(-10px);
            #thumb-1
              background-image: url('src/images/160701_Hog_Pastahogar_-FAMILIAR_vistafrente.png')
              background-size: cover;
              background-position: bottom;
              background-repeat: no-repeat;
            #thumb-2
              background-image: url('src/images/160701_Hog_Pastahogar_-FAMILIAR_naranja.png')
              background-size: cover;
              background-position: bottom;
              background-repeat: no-repeat;
            #thumb-3
              background-image: url('src/images/160701_Hog_Pastahogar_-FAMILIAR_verde.png')
              background-size: cover;
              background-position: bottom;
              background-repeat: no-repeat;
            #col-detalles
              padding-right: 5vw
              h2
                font-family: GothamR
                border-bottom 0px
                font-size 30px
                color darken($hog-lgray, 70%)
              .module-subtitule-container
                width: 100%
              h3
                font-family: GothamR
                color: $hog-yellow
                border-top: 3px solid $hog-yellow
                border-bottom: 3px solid $hog-yellow
                line-height: 1.6em
                font-size: 1.2em
              #pastaHogarGourmet
                border-top: 3px solid $hog-gray
                border-bottom: 3px solid $hog-gray
                color: $hog-gray
              #pastaHogarPremium
                border-top: 3px solid $hog-olive
                border-bottom: 3px solid $hog-olive
                color: $hog-olive
              p
                width: 100%
                font-family: GothamR
                margin: 0
                padding: 0
                color: darken($hog-lgray, 30%)
          .caracteristicas-row
            padding-right 3vw
            h2
              font-family: GothamR
              color darken($hog-lgray, 50%)
              border-bottom 2px darken($hog-lgray, 50%) solid
              font-size 20px
              margin-bottom 20px
            ul
              margin-bottom 0px
              li
                font-family: GothamR
                color: darken($hog-lgray, 30%)
          .cualidadesAdicionales-row
            border-bottom none
            padding-right 3vw
            h2
              font-family GothamR
              color darken($hog-lgray, 50%)
              border-bottom 2px darken($hog-lgray, 50%) solid
              font-size 20px
              margin-bottom 20px
            ul
              margin-bottom 0px
              li
                font-family: GothamR
                color: darken($hog-lgray, 30%)
                font-size 15px
          .row
            .col-md-9
              .gourmetDivider
                margin-top 30px
                margin-right 3vw
                height 10px
                background-color $hog-gray
              .premiumDivider
                background-color $hog-yellow
                margin-top 30px
                margin-right 3vw
                height 10px
              .endingDivider
                background-color $hog-olive
                margin-top 30px
                margin-right 3vw
                height 10px
          .contacto-row
            margin-top 40px
            #contacto
              text-align center
              #title
                font-size 2em
            span
              display block
              margin-top 20px
              font-family GothamR
              font-size 18px
          .contact-separator
            padding-right 3vw
            .separator
              height 2px
              width 100%
              background-color gray
              margin 20px 0
          .form
            padding-right 2vw
            .col-md-9
              #col-consulta
                .alerta-consulta
                  margin-top 30px
                  border-radius 30px
              #consulta-a
                font-family GothamR
                margin-top 15px
                margin-bottom 9px
                display block
              input, button, textarea
                margin 10px 0px 0px
                border-radius 30px
                background-color $hog-lgray
                color darken($hog-lgray, 50%)
                width 100%
                border 1px solid darken($hog-lgray, 10%)
                font-family GothamR
                &:focus
                  box-shadow: 0px 1px 10px -3px $hog-yellow
                  border: $hog-yellow 1px solid
                span
                  position relative
                  left 10px
              #input-direccion
                margin-bottom 0px
                font-family GothamR
              #input-consulta
                height 253px
                font-size 15px
                line-height 30px
                padding 20px
                font-family GothamR
              .btn-group
                width 100%
                padding 0
                border-radius 30px
                font-family GothamR
                #dropdown-pais
                  background-color $hog-lgray
                  top 50px
                  width 100%
                  font-family GothamR
          .submit-form
            padding 0 1vw
            #submit-button
              border darken($hog-red, 20%) 1px solid
              width 100%
              margin-top 30px
              font-family GothamR
              text-align center
              border-radius 0px
              background-color $hog-red
              color lighten($hog-red, 90%)
          .serviciotecnico-row
            margin-top 50px
            #serv-tec
              #title
                font-family GothamR
            #paragraph-col
              margin-top 30px
              @media screen and (min-width: 768px) {
                margin-top 0px
              }
            #serv-tec
              text-align center
              #title
                font-size 2em
            p
              font-size 15px
              line-height 18px
              color darken($hog-lgray, 30%)
          .contact-separator
            #footer-separator
              margin 70px 0px
    #footer
      margin-top 50px
      #footer-logo
        width 80%
        transition transform 0.2s linear
        &:hover
          transform translateY(-20px)
        @media screen and (max-width: 768px) {
          width 30%
        }
      h1
        font-size 23px
        font-family GothamR
      a
        text-decoration none
        color darken($hog-lgray, 30%)
        font-size 15px
        display block
        &:hover
          color darken($hog-lgray, 80%)
      img
        width 30px
        margin-top 10px
        &:hover
          opacity 0.8
      #firma
        color darken($hog-lgray, 30%)
        font-size 0.8em
        margin-top 30px
        margin-left 10px
        margin-bottom 20px



        // CHANGED Parrafos de detalles alineado a la izquierda
        // CHANGED Sacar RRHH de lista de contacto
        // CHANGED Arreglar fuentes
        // CHANGED Poner menú en la parte superior
        // CHANGED Poner íconos del facebook
        // TODO Armar menú para responsive
        // TODO agregar animaciones de scroll
        // TODO Implementar formulario
        // TODO Ajustar marjen izquierdo
